
.title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  /*border-bottom: 1px solid #eee;*/
  background: #fff;
  letter-spacing: 0.05em;
}
.title h1 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

section {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  /*border-bottom: 1px solid #eee;*/
  background: #fff;
  letter-spacing: 0.05em;
}

p { font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

li.pure-button {
  margin: 2px;
}

pre {
  padding: 1em;
  border: 1px solid #eee;
}

/*tdharris.net*/

/*aboutMe*/
.aboutMe {
  margin-top:5%;
}
.aboutMe img {
  max-width:50%;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%; /* future proofing */
  -khtml-border-radius: 10%; /* for old Konqueror browsers */
}

.musician:hover {
  background-color: yellow;
}
.coder:hover {
  background-color: #22A7F0;
}

.playingSaxophone {
  padding: 10% 10% 0 0;
}


.controls + .portfolio + .mix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls{
  padding: 2%;
  background: rgb(61, 79, 93);
  color: #eee;
}

.controls label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button.active{
  background: #59ABE3;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.portfolio{
  padding: 2% 2% 0;
  text-align: justify;
  background: #ecf0f1;
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio .mix.webDev{
  border-top: 2px solid #16a085;
}

.portfolio .mix.bash{
  border-top: 2px solid #f1c40f;
}

.portfolio:after{
  content: '';
  display: inline-block;
  width: 100%;
}
.portfolio .mix,
.portfolio .gap{
  display: inline-block;
  width: 32%;
}

.portfolio .mix{
  padding: 2%; 
  text-align: left;
  background: #DADFE1;
  /*border: 1px solid #E4F1FE;*/
  margin-bottom: 2%;
  display: none;
  overflow: hidden;
}

.portfolio .mix a { color: #000; }

.portfolio .mix:before{
  content: '';
  display: inline-block;
  /*padding-top: 60%;*/
}

#Portfolio .mix{
  display: none;
}

.portfolio .mix h3 {
  text-align:center;
  font-weight: bold;
}

.portfolio .mix img {
  /*height: 100%;*/
  max-width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.portfolio .mix:hover{
  background-color: #ECECEC;
  text-decoration: none;
}

img {
  max-width: 100%;
  min-height: auto;
  margin-left:auto;
  margin-right:auto;
}

/* Buttons */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* ADMIN page */
.dropzone {
  margin-bottom: 10px;
}

/* Flex box progressive enhancements: */
.portfolio{
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
  -webkit-align-content: flex-start;
}

@media all and (max-width: 1366px){
  .portfolio .mix,
  .portfolio .gap{
    width: 32%;
  }
}
@media all and (max-width: 1080px){
  .portfolio .mix,
  .portfolio .gap{
    width: 49%;
  }
}
@media all and (max-width: 540px){
  .portfolio .mix,
  .portfolio .gap{
    width: 98%;
  }
}

/* Fix brand-title */
@media all and (max-width: 840px){
  .brand-title {
    font-size: 2.5em;
  }
}
@media all and (max-width: 767px){
  .brand-title {
    font-size: 3em;
  }
}
