*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a
{
    text-decoration: none;

    color: rgb(61, 146, 201);
}
a:hover,
a:focus
{
    text-decoration: underline;
}

h3
{
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive
{
    max-width: 100%;
    height: auto;
}

#layout
{
    padding: 0;
}

.header
{
    top: auto;

    margin: 3em auto;

    text-align: center;
}

.sidebar
{
    color: #fff;
    background: rgb(61, 79, 93);
}

.brand-title,
.brand-tagline
{
    font-size: 3em;

    margin: 0;
}
.brandLink,
.brandLink:hover
{
    text-decoration: none;

    color: #fff;
    background: rgb(61, 79, 93);
}
.brand-tagline
{
    font-weight: 300;

    color: rgb(176, 202, 219);
}

.nav-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.nav-item
{
    display: inline-block;
    display: inline;
    zoom: 1;
}
.nav-item a
{
    font-size: 85%;

    margin-top: 1em;

    letter-spacing: .05em;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid rgb(176, 202, 219);
    background: transparent;
}
.nav-item a:hover,
.nav-item a:focus
{
    text-decoration: none;

    border: 2px solid rgb(61, 146, 201);
}

@media (min-width: 48em)
{
    .content
    {
        margin-left: 25%;
        padding: 2em 3em 0;
    }

    .header
    {
        margin: 15% 2em 0;
        /*text-align: right;*/
    }

    .sidebar
    {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

/* SOCIAL BUTTONS */
.list-inline
{
    margin-left: -5px;
    padding-left: 0;

    list-style: none;
}
.list-inline > li
{
    display: inline-block;

    padding-right: 5px;
    padding-left: 5px;
}
.social
{
    color: #fff;
}
.btn-social
{
    font-size: 20px;
    line-height: 45px;

    display: inline-block;

    width: 50px;
    height: 50px;

    text-align: center;

    border: 2px solid #fff;
    border-radius: 100%;
}
.btn-outline
{
    font-size: 20px;

    margin-top: 15px;

    transition: all .3s ease-in-out;

    color: #fff;
    border: solid 2px #fff;
    background: 0 0;
}
a,
a:hover,
a:focus,
a:active,
a.active
{
    text-decoration: none;

    color: #3498db;
    outline: 0;
}
a:hover
{
    background-color: #fff;
}
.fa
{
    font-size: inherit;
}

a.facebook:hover
{
    color: #fff;
    background-color: #4c68a1;
}
a.google-plus:hover
{
    color: #fff;
    background-color: #e74c3c;
}
a.twitter:hover
{
    color: #fff;
    background-color: #55acee;
}
a.linkedin:hover
{
    color: #fff;
    background-color: #1582bb;
}

.custom-restricted-width
{
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}
.pure-menu-link
{
    color: #fff;
}
.pure-menu-heading
{
    font-weight: bold;

    color: #2980b9;
}

.header .pure-menu
{
    margin-top: 3em;
}
