.sidebar
{
    width: 100% !important;
    height: 100vh;
}

.header .pure-menu
{
    width: 20em;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
}

#layout
{
    min-height: 100vh;
}

body
{
    height: 100vh;
}
body
{
    min-height: 100vh;
}
